body {
 
  background-image: url("../../assets/img/purple.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pet-list {
  text-align: center;
  width: 45%;
  margin-left: 500px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}



  