.registerPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;  
    flex-direction: column;
    background-color: gray;
}

.registerButton {
    display: flex;
    height: 2em;
    width: 6em;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

.inputNormal {

height: 3em;
width: 18em;
margin: 1em;
border-radius: 5%;
border: 0.5em blue;

}

.inputError {

    border: 0.1em red;
}

.errorMessage {
    color: red;
}

