
.img {
    width: 20%;
    height: auto;
    border-radius: 10px;
  }
  
  .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  .breed {
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
  }
  
  .age {
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
  }
  
  .description {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
  }
  
 
  