

.headerPage {
    top: 10px;
    right: 25px;
    bottom: 30px;
    left: 12px;
    z-index: 12px;
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: green;

}

.linkDesign {
    margin: auto;
    cursor: pointer;
}

.linkDesign:hover {
    color: red;
    transition: 0.5s;
}