
body {
  font-family:'montserrat', sans-serif;
  background-color:rgb(251, 172, 212);
}


.searchleftside{
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.searchResults{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 187, 236); 
  overflow-y: scroll;  
  cursor:pointer;
}


.searchBar {
width: 50%;
height: 15%;
padding: 0px;
border: 0px;
outline:none;
background:none;
background-color: rgb(245, 213, 230);
border-radius: 50px;
color: rgb(162, 158, 164);
font-size: 25px;
font-weight: 300;
transition: 0.4s ease-out;
justify-content: center;
align-items: center;
margin-top: 1.5em;
margin-bottom: 0.8em;
flex-direction: column;
display: flex;
margin-left: 25%;

}

.searchBar:focus {
box-shadow: 0px 0px 8px 3px #f024df;
}
 

.searchBar input {
  width: 20em;
  height: 2.5em;
  font-size:larger;
  text-align: center;
  background-color: rgb(245, 213, 230);
  display: block;
width: 100%;
padding: 15px;
border: 0px;
outline:none;
background:none;
font-family: ;
font-size: large;
}

.petCard{
  min-height: auto;
}